body{
    background-image: url(images/pic.jpg.jpg);
    background-size: cover;
    height: 100%;
}

h1{
    color: white;
    font-size: 5rem;
    text-shadow: rgb(162, 226, 228) 2px 2px 5px ;
}

hr{
    border: 2px dashed skyblue;
    width: 1000px;
}

button{
    background-color: rgb(32, 192, 245);
    border: 1px solid rgb(3, 3, 19);
    font-size: 2rem;
    padding: 30px;
    border-radius: 50px;
    color: white;
    margin-top: 42px;
}

button {
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: rgb(7, 19, 131);
    color: white;
  }
a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}